site_name: Introduction to 16S Data Analysis with DADA2
repo_url: https://github.com/best-tufts/intro_to_16S
edit_uri: blob/main/docs/

theme:
  name: material
  features:
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.sections
        - content.action.edit 
        - navigation.footer
        - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  logo: 'images/logo1.svg'
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      prerequisite: octicons/beaker-16
      quote: octicons/quote-16
        
markdown_extensions:
  - admonition
  - tables
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - md_in_html
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
     
extra_css:
    - stylesheets/extra.css
    
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js

nav:
    - Workshop Materials : 
        - Introduction: intro16S/01_metabarcoding-intro.md
        - Background: intro16S/02_background.md
        - Setup: intro16S/03_setup.md
        - Quality Control: intro16S/04_quality-control.md
        - Error Models & Sequence Variants: intro16S/05_error-asv.md
        - Merging Chimeras & Taxonomy: intro16S/06_merging-chimeras-taxonomy.md
        - Diversity Analysis: intro16S/07_diversity-analysis.md
        - Differential Abundance: intro16S/08_differential-abundance.md
    - About BEST :
        - Genomics Tutorials: index.md

