:root > * {
  --md-primary-fg-color:        #0e2b54;
}

.md-header{
    background-color: white;
    color: #0e2b54;
}
@font-face {
    font-weight: bold;
}
a:link {
    color: #0048ba;
}
.md-content {
  --md-typeset-a-color: #0048ba;
}